// Namespaced custom styles.
@import '~ui/shared';

.main {
  -custom-noop: noop; // force namespacing for empty style
}
.wrapper {
  padding-left:calc(5% + 10px);
  padding-right:calc(5% + 10px);
  background-color: $ui-01;
  border-bottom: 1px solid #3d70b2;
}
